

/* #nav_bar {
    height: 90px;
    width: 100%;
    background-color: gray;
    top: 0;
} */

#bg {
    top: 0px;
    left: 0px;
    position: fixed;
    zoom: 30%;
    filter: blur(26px);
}

#head {
    color: #95E7D3;
    font-size: 400%;
    top: 0%; 
    left: 40%;
    position: fixed;
}
#budget_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 1%;
    padding-right: 30%;*/
    width:25%;
    justify-content: center;
    text-align: center;
    left: 38%;
    position: fixed;
    top: 15%;
}

form{
    width: 100%;
}

#budget_form input{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3%;
    vertical-align: middle;
    
}

::placeholder {
    color:#0f0e0e;
    font-size: 135%;
    
}

#expense,#amount{
    border-radius: 20px;
    height: 60px;
    width: 90%;
    background-color: gray;
    border-color: aqua;
}



#btn {
    height: 60px;
    width: 75%;
    background-color: #95E7D3; 
    border-radius: 10px;
    margin-left: -25px;  
}

#side_bar{
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(104, 96, 98);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    opacity: 0.6;
}

.delete-btn {
    height: 60px;
    width: 20%;
    background-color: #95E7D3; 
    border-radius: 10px;   
}

#expenses {
    color: #95E7D3;
    /*font-size: 330%;
    padding-left: 50%;
    padding-bottom: 10%;*/
    top: 0px;
    right: 0px;
    position: fixed;
    justify-content: left;
    background: #0f0e0e;
    width: 30%;
    opacity: 0.9;
}

#expense_list {
    font-size: 160%;
    word-spacing: 100px;
    width: 100%;
    left: 0px;
    padding-left: 0%;
}

#expense_list li {
    border-style:solid;
    border-color: #0f0e0e;
    background: rgb(68, 64, 64); 
    width: 100%;
    margin-top: 5px;
}

#expenses p{
    font-size: 300%;
}

#image {
    height: 15%;
    width: 10%;
    padding-left: 65%;
    padding-top: 90%;
}

#default_img{
    height: 25%;
    width: 50%;
    border-radius: 50%;
    border: 3px solid #95E7D3;
}

#greetings{ 
    font-size: 250%;
    color:cyan
} 

#side_buttons{
    left:0;
    width: 100%;
    height:fit-content;
    padding-left: 0%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
}

#side_buttons li{
    height: 10%;
    width: 100%;
    margin-top: 2%;
    text-align: center;
    font-size: 200%;
    text-decoration: dotted;
    border-bottom: 2px solid cyan;
    cursor:default;
    text-align: left;
    
}

li img{
    height: 50px;
    width: 50px;
}



















